*{
    margin:0 auto;
}body{
    width:100%;
    height:80vh;
    background: white;
}
.nav-container{
    width: 100%;
    height: 8.7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #9e34eb;
    
}

.logo-container img{
    width: 15vw;
    height: 10vw;
}
.logo-container div{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background:#9e34eb ;
    width: 100%;
    height: 100%;
}
.nav-container div{
    color:white;
    
}
.content h1:nth-of-type(2){
    color:#915EFF;
}
.im::selection{
    color:#f2a218;
}
.im:hover{
    color:#fc6f03
}
.content p{
    font-weight: bold;
}
.content img{
    width:50vw;
    height: 45vh;
    
    display: flex;
    justify-content: center;
}
.pic1{
    margin-left: -11vw;
    border-bottom: 2px solid black;
    
}
.content p::selection{
    color:#f2a218;
}
.content p:hover{
    color:#fc6f03;
}
.content{
    margin-left:40px;
}

.btn-1{
    width:26vw;
    background:#915EFF;
    color:white;
    border:none;
    border-radius:8px;
    height:5vh;
    font-size:10px;
    transition: all 0.3s  0.4s;
}
.btn-1:hover{
    background: deeppink;
    width: 30vw;
}
.nav-container a{
    text-decoration: none;
    color:#fff;
}

.tik-tok img{
    width: 50vw;
    height: 30vh;
    display: flex;
    align-items: center;
}
.tik-tok button{
   width:26vw;
    background:#915EFF;
    color:white;
    border:none;
    border-radius:8px;
    height:5vh;
    font-size:10px;
    transition: all 0.3s  0.4s;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.tik-tok h1{
    text-align: center;
}
.tik-tok button:hover{
    background: deeppink;
    width: 30vw;
}
.tik-tok a{
    text-decoration: none;
    color: white;
}